body {
    margin: 0;
    background-size: 100%;
    background-image: url('http://apod.nasa.gov/apod/image/0010/ngc205_cfht_big.jpg');
}

canvas {
    width: 100%;
    height: 100%;
}

.App-credits {
    position: absolute;
    color: white;
    text-decoration: underline;
    background-color: rgba(48, 48, 48, 0.5);
    border-radius: 8px;
    margin: 0;
    margin-left: 12px;
    padding: 4px;
}